
a:link{
text-decoration:none;
}
a{color:#9f9f9d;font-size:14px;}
.ddd{font-size:12px;}
.main{margin:0 auto;width:99%;clear:both;min-height:0px;}
.wenzi{margin-top:20px;margin-right:auto;margin-left:auto;width:100%;}
.biaoti{margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.jianjiezi{margin-top:20px;margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.anniu{margin-right:auto;margin-left:auto;width:220px;}
.anzhuo{margin-top:30px;float:left;width:220px;height:60px;background:url(http://ww4.sinaimg.cn/bmiddle/0068TJS4gw1eu60rjrv3aj306601o745.jpg) no-repeat;}
.app{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww2.sinaimg.cn/bmiddle/0068TJS4gw1eu60rj3re6j306601owed.jpg) no-repeat;}
.pc{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww3.sinaimg.cn/bmiddle/0068TJS4gw1eu60rkfgwwj306601o0sl.jpg) no-repeat;}
.mvc{margin-top:20px;float:left;width:222px;height:162px;background:url(http://ww3.sinaimg.cn/large/005uJx3ugw1f3cdr1183xj306504i74a.jpg) no-repeat;}
.mvd{margin-top:20px;float:left;width:222px;height:161px;background:url(http://ww2.sinaimg.cn/large/005uJx3ugw1f3cdr0lr32j306504h749.jpg) no-repeat;}
.mve{margin-top:20px;float:left;width:222px;height:222px;background:url(http://ww3.sinaimg.cn/large/005uJx3ugw1f3cdr1aseyj306604j3yp.jpg) no-repeat;}
.zi1{margin-top:10px;float:left;text-align:center;width:220px;}
